.git
.github
.cursor
.vscode
.idea
node_modules
vendor
tests
test-results
playwright-report
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
docker-compose.yml
AutoGestExpo
AutoGestMobile
android
ios
