APP_NAME=AutoGest
APP_ENV=production
APP_DEBUG=false
APP_URL=https://tu-servicio.onrender.com
APP_KEY=base64:REEMPLAZAR_CON_TU_APP_KEY

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=tu-host-aiven
DB_PORT=23663
DB_DATABASE=defaultdb
DB_USERNAME=avnadmin
DB_PASSWORD=tu-password
MYSQL_ATTR_SSL_VERIFY_SERVER_CERT=false

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=public
VIEW_COMPILED_PATH=/tmp/framework/views
