APP_NAME=AutoGest
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://autogest-api.onrender.com

LOG_CHANNEL=errorlog
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=/tmp/database.sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=autogest-api.onrender.com